<div>
    <div class='flex max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto' @click="goToDetails(movie.id)">
        <div class='w-2 bg-gray-800'></div>

        <div class="overflow-hidden rounded-xl relative transform hover:-translate-y-2 transition ease-in-out duration-500 shadow-lg hover:shadow-2xl movie-item text-white movie-card"
             :data-movie-id="movie.id">
            <div class="absolute inset-0 z-10 transition duration-300 ease-in-out bg-gradient-to-t from-black via-gray-900 to-transparent"></div>
            <div class="relative cursor-pointer group z-10 px-10 pt-10 space-y-6 movie_info">
                <div class="poster__info align-self-end w-full">
                    <div class="h-32"></div>
                    <div class="space-y-6 detail_info">
                        <div class="flex flex-col space-y-2 inner">
                            <h3 class="text-2xl font-bold text-white" data-unsp-sanitized="clean">{{ movie.title }}</h3>
                        </div>
                        <div class="flex flex-row justify-between datos">
                            <div class="flex flex-col datos_col">
                                <div class="popularity">{{ movie.popularity }}</div>
                                <div class="text-sm text-gray-400">Popularity:</div>
                            </div>
                            <div class="flex flex-col datos_col">
                                <div class="release">{{ movie.release_date }}</div>
                                <div class="text-sm text-gray-400">Release date:</div>
                            </div>
                        </div>
                        <div class="flex flex-col overview">
                            <div class="flex flex-col"></div>
                            <div class="text-xs text-gray-400 mb-2">Overview:</div>
                            <p class="text-xs text-gray-100 mb-6">
                                {{ movie.overview }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="absolute inset-0 transform w-full -translate-y-4" :src="imgPreUrl + movie.poster_path"
                 style="filter: grayscale(0);" alt="movie"/>
        </div>

    </div>
</div>